[user]
	name = Norbert Chmiel
	email = norbertchmiel.it@gmail.com
[core]
	editor = vim
	pager = less
	excludesFile = /home/norbert/.gitignore
[url "git@github.com:"]
	insetadOf = https://github.com/
[diff]
	tool = vimdiff
[difftool]
	prompt = false

[safe]
	directory = /opt/flutter
[push]
	autoSetupRemote = true
	followTags = true
	default = upstream
[alias]
	root = rev-parse --show-toplevel
	start = "!f() { \
		git checkout -b \"$1\"; \
		}; f"
	back = "checkout -"
	master = "!git checkout master && git pull -a"
	main = "!git checkout main && git pull -a"
[merge]
	tool = vimdiff
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[branch]
	sort = -committerdate

[includeIf "gitdir:~/Work/Ari10/"]
	path = ~/Work/Ari10/.gitconfig
